# 데이터 타입
# 문자형
# >생성하기
>여 닫는 따옴표는 반드지 분자의 앞 뒤에서 한 쌍으로 완성되어야 한다.
### 1) 한 줄 문자열 : ',"

In [2]:
10
'10'

'10'

In [6]:
a='안녕'+' \n반가워'
print(a)
a

안녕
반가워

'안녕 \n반가워'

# 2) 여러 줄 문자열 : ''', """
- print() 했을 때 enter가 그대로 반영되는 문자열로 처리 가능
- 단 화면에서 보기를 하면(print  없이 주피터 노트북 결과로 보면) 줄바꿈이 바로 나타나지 않고 \n으로 처리한다

In [10]:
a='''안녕
반가워'''
print(a)
a

안녕
반가워

'안녕\n반가워'

## 3) a문자 속에 문자열 기호 사용하기
- 문자열에서 자주 쓰는 기호 : ', "

In [12]:
# 언어 문자에서 많이 쓰이는 기호 : she's, "ㄷㄷㄷ"
a='She\'s happy'
print(a)
a

She's happy

"She's happy"

In [14]:
title = "오늘은 미세먼지 '좋음'."
print(title)
title

오늘은 미세먼지 '좋음'.

"오늘은 미세먼지 '좋음'."

In [20]:
#만약 단일 따옴표를 쓰는데도 불구하고 여닫는 부분을 다른 줄로 하고 싶다면
c = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaa'
print(c)
c

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

# 문제
lines, line에 할당<br>
1. 여러 줄 문자열 활용
2. 한 줄 문자열 내부에서

In [25]:
lines='''파이썬도 배우고
장고도 배우고
할게 너무 많아'''
line='파이썬도 배우고\n장고도 배우고\n할게 너무 많아'
print("lines : ",lines,"\n\nline : ",line)

lines :  파이썬도 배우고
장고도 배우고
할게 너무 많아
line :  파이썬도 배우고
장고도 배우고
할게 너무 많아

## > 연산하기
### 1) 산술 연산자 : 문자, 숫자를 함께 연산하기 위한 문법 기호
- 문자와 문자를 연결
- 동일한 문자를 반복해서 연결

In [28]:
a="abc"

c=a+a
print(a,"\n\n",c)

abc

 abcabc

In [32]:
# 문자 + 숫자 -> error

ValueError: invalid literal for int() with base 10: 'a'

In [35]:
# 문자 여러번 반복하기 : *
'뮻'*200 #

'뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻뮻'

In [36]:
# 문자 * 문자 -> error

### 2) 비교 연산자 : 문자의 크기를 비교하기 위한 문법 기호
> 문자의 비교
* 대문자 vs 소문자 : 대문자 < 소문자 크기가 더 크다
* 알파벳 : 알파벳 순서가 뒤에 있을수록 더 크다
* 문자 길이 : 길이가 길수록 더 크다

In [ ]:
#A=65, a=97, 소-32=대, 대+32=소
#'0'=48,'1'=49
#" "=32
# unicode -> 2byte, ascii 256bits로는 모든 언어를 표현할 수 없기 때문에

In [44]:
#대문자 vs 소문자 : 비교연산자(==, !=, <, >)로 확인
'A' < 'a'

True

In [47]:
#문자열을 대상으로 할 때는 무조건 첫 글자끼리만 비교한다
#문자 길이는 실제 크기 비교에는 영향을 미치지 않는다.
'b' < 'BTS'#F
'B' < 'BTS'#T

True

In [49]:
#영문자와 영문자 이외의 다른 문자간 비교는 무조건 영문자가 작게 나온다
# AsciiCode vs UniCode
'z' < '가'

True

# >인덱스
- 아이템(대상이 가지고 있는 최소 단위의 값)의 위치를 나타내는 고유한 번호
- 첫 번째 위치는 0부터 시작
- 마지막 위치는 -1부터 시작
### 1) 인덱싱(indexing) : 특정 위치의 하나의 아이템에 접근하기
- 인덱싱 문법기호 : 객체[인덱스번호]

In [51]:
#banana라는 문자열에 대해 인덱싱
txt = 'banana'
txt

'banana'

In [60]:
#banana라는 문자열의 첫 번째 문자 = 0번째 인덱스 번호
#인덱싱 문법 : 문자열(대상 : 값, 자료형)[인덱스번호]
txt[0]#'b'
txt[-1]#'a'

'a'

In [57]:
for i in txt:
    print(i)

b
a
n
a
n
a

In [59]:
for i in range(len(txt)):
    print(txt[i])

b
a
n
a
n
a

### 2)슬라이싱 : 연속된 범위의 여러 아이템에 접근
* 대상 객체[처음 인덱스:마지막인덱스(:간격)]
* 처음 인덱스 번호는 포함(n부터~)
* 마지막 인덱스 번호는 포함하지 않음(~n-1까지)
* 간격 조정은 할 수도 있고 하지 않을 수도 있음

In [65]:
txt = "hello python world"
txt1=txt[:5]
txt2=txt[6:12]
txt3=txt[13:]
print(len(txt))
print(txt1,txt2,txt3)

18
hello python world

In [67]:
# 첫 인덱스가 0으로 스타트를 끊는다면 생략 가능
txt[:5]

'hello'

In [69]:
# 특정 위치부터 마지막 아이템까지 : python
# 처음 인덱스 : 6
# 마지막 인덱스 : -6
txt[6:-6]

'python'

In [71]:
# 전체 : 처음 익덱스와 마지막 인덱스를 모두 쓰지 않으면 전체 아이템을 가져오는 결과
# 처음 인덱스 기본값 : 0
# 마지막 인덱스 기본값 : 마지막까지
txt[:]

'hello python world'

In [75]:
#간격 값으로 2를 주고 전체 범위 슬라이싱
txt[: :2]

'hlopto ol'

## > 연습문제
### 20191116미세먼지양호함
#### 위 문장을 weather 변수에 저장
#### 날짜는 date 변수에 슬라이싱으로 받아오고, micro 변수에 미세먼지 정도를 슬라이싱으로 받아오도록 만들어서 출력

In [81]:
weather='20191116미세먼지양호함'
date=weather[:8]
micro=weather[8:]

print("날짜:",date,"\n날씨:",micro)

날짜: 20191116
날씨: 미세먼지양호함

# > 포매팅(formatting)
- 특정 값만 바뀌고 일정한 형식을 가지는 문자열을 작성할 수 있는 기법
### 1. %포매팅
* 데이터 타입에 따른 분류 : 정수, 실수, 문자
* 옵션 : 문자열 길이, 표현할 아이템 개수, 정렬, 공백

#### 1) 숫자 값 대입

In [82]:
# 1. 가변자료가 들어갈 자리(땡땡에 해당하는)에 구멍(%자료형)을 낸다
# 2. 구멍이 뚫린 문자열 뒤에 %로 연결한 다음 집어넣을 값을 적는다.

In [84]:
# 정수 값 포매팅 : 정수(int) -> %d(digit)
'오늘은 %d일 입니다.'%21

'오늘은 21일 입니다.'

In [86]:
# 정수 자리의 의미 : 출력되는 형식이 정수라는 의미
# 반올림이 아닌 소수점 아래를 버린다.
'오늘은 %d일 입니다.'%21.9

'오늘은 21일 입니다.'

In [88]:
# 실수(float) 값 포매팅
# %f를 이용해서 값에 대한 구멍 냄
# %f는 기본적으로 소수점 아래 6까지 표현
'%f'%15

'15.000000'

In [90]:
# 실수값 포매팅 2 : 집어넣는 값을 실수로 적용
# 실수값 포매팅은 반올림이 적용된다.
'%f'%1.12345678

'1.123457'

In [93]:
# 옵션 : 소수점 아래 자리를 몇자리까지 출력할지 정할 수 있음
# %.nf or %0.nf : 소주점 아래 n자리까지만 표현
'%.3f'%1.2345678

'1.235'

In [95]:
# 가변자료를 2개 이상 넣은 케이스
# 집어넣는 값은 왼쪽부터 하나씩 전달됨
# 2개 이상을 집어넣는 경우는 %(첫값,둘값,...)과 같이 튜플로 전달
'오늘은 %d월 %d일 입니다.'%(11,16)

'오늘은 11월 16일 입니다.'

In [100]:
# %d, %f에 숫자가 아닌 자료를 넣으면 -> error
'%d'%'1'

TypeError: %d format: a number is required, not str

# 2) 문자 대입
- %s로 구멍 뚫기
- 집어넣는 값에 대해서는 제한이 없다
- 만능 포매팅

In [106]:
# 집어넣는 값이 문자
'%s님 접속을 환영합니다.'%'abc123'

'abc123님 접속을 환영합니다.'

In [108]:
# 문자 외의 타입도 가능
'%s. 숫자도 가능'%100

'100. 숫자도 가능'

### 3) 옵션 설정하기

> 작성순서 : '%+정렬기호+문자열길이+.+표현할아이템개수+데이터타입' % 집어넣을값
* 문자열 길이 : 구멍 뚫린 자리의 문자열 길이, 따로 옵션을 주지 않으면 집어넣을값의 길이에 맞춰짐
* 공백 : 문자열 길이 + 정렬 옵션을 설정하면 자동으로 생성됨
* 정렬 : 기본적으로는 오른쪽정렬(문자열 길이가 양수값), 음수 값으로 전달하면 왼쪽정렬 
* 표현할 아이템 개수 : 실수인 경우는 소수점 아래자리에 적용
* 문자열 안에서 % 기호 사용

In [120]:
# 가변자료 위치를 10칸 확보하고 오른쪽 정렬
'%10s님 접속을 환영합니다.' %'abc1234'

'   abc1234님 접속을 환영합니다.'

In [121]:
# 가변자료 위치를 10칸 확보하고 왼쪽 정렬
'%-10s님 접속을 환영합니다.' %'abc1234'

'abc1234   님 접속을 환영합니다.'

In [124]:
# 실수의 경우는 %칸 확보, 소수점 아래 문자 종류 순으로 나열
'%-20.2f 수치 기록'%12.1123124

'12.11                수치 기록'

# <<연습문제>>
### 조건을 만족하는 포매팅 작성
'날짜 : 2019-09-21/출석률 : 90%'
- 전달하는 값 4개
- 출석한 학생 수 : 19명
- 총 학생 수 : 21명
- 출석률은 소수점 첫 번째 자리에서 반올림 적용

In [148]:
date='2019-09-21'
student=21
attend=19
attendance=attend/student*100
'날짜 : %s/출석률 : %.f%%'%(date,attendance)
'날짜 : {}/출석률 : {:.0f}%'.format(date,attendance)

'날짜 : 2019-09-21/출석률 : 90%'

### 2. {}포매팅

* "문자열".format() 을 사용하는 포매팅
* 값을 대입하는 방법
    - 인덱스 번호(가장 일반적 방법)
    - 변수명 & 변수값 => 변수 선언문을 format 함수에 작성, 변수명을 가변자료에 입력
    - 인덱스 번호, 변수명 혼합(잘 사용 안함)
* 옵션 : 문자열 길이, 정렬, 공백 대체 문자, 표현할 값 개수(데이터타입 지정)

### 1) 인덱스 번호로 대입

In [150]:
# format()함수의 인자 값으로 들어간 위치를 문자열 안의 가변인자 위치에 작성하면 원하는 순서대로 넣을 수 있음
# 기본동작(인덱스 번호 미사용시) : 순서대로 대입
'{}{}{}'.format(1,2,3)

'123'

In [152]:
# 순번 입력 시 순번 기반으로 입력
'{2}{0}{1}'.format(1,2,3)

'312'

### 2) 변수명 & 변수값 대입
- 변수 선언문을 format함수에 작성
- 변수명을 {}에 사용

In [157]:
#{}에 인덱스 번호를대입하는 경우에는 format()합수에 값, 변수(이미 만들어진)를 인자값으로 집어넣음
'{x2}'.format(x2=100)

'100'

### 3) 인덱스 번호 & 변수명 대입
- format() 함수 내에서 인덱스 번호에 해당하는 값을 먼저 작성
- 번호가 다 사용된 후에 변수 선언문을 사용해야 적용이 잘 됨

In [158]:
x=10

In [160]:
#기존에 사용했던(생성했던) 변수와 함께 새롭게 정의한 값을 추가해서 사용
#새롭게 정의한 값을 다시 사용할 필요가 없을 때
'{} {text}'.format(x,text=100)

'10 100'

### 4) 옵션 설정하기

> 작성순서 
* 데이터타입을 지정하지 않는 경우 : {인덱스번호+:+공백대체문자+정렬기호+문자열길이}
* 표현할자리수를 설정하는 경우 : {인덱스번호+:+공백대체문자+정렬기호+문자열길이+표현할자리수+(데이터타입)}
    * 정렬 : 가운데 정렬(^), 좌측 정렬(<), 우측 정렬(>)
    * 문자열 길이
    * 공백 대체 문자 : 문자열 길이와 정렬이 설정되어야 사용할 수 있다.
    * 데이터타입 : 실수와 문자 타입만 표현할 자리수를 설정할 수 있다.

In [162]:
# 문자열 길이가 10이며 hi라는 문자가 오른쪽으로 정렬된 포매팅
'{:>10}'.format('hi')

'        hi'

In [164]:
# 문자열 길이가 10이며 hi라는 문자가 왼쪽으로 정렬된 포매팅
'{:<10}'.format('hi')

'hi        '

In [166]:
# 문자열 길이가 10이며 hi라는 문자가 가운데로 정렬된 포매팅
'{:^10}'.format('hi')

'    hi    '

In [168]:
# 가운데 정렬을 하면서 동시에 공백을 *로 채우기
'{:*^10}'.format('hi')

'****hi****'

In [170]:
# 실수 타입에 사용하는 포매팅
# 소주점 3자리까지만 출력
# 원래 {} 포매팅은 자료형 지정을 안 하지만 자리수를 설정할때만 예외적으로 지정함
'{:.3f}'.format(1.23457)

'1.235'

In [172]:
# 문자에 사용하는 포매팅
# 3글자만 출력
'{:.3s}'.format('가나다라마바사')

'가나다'

## > 문자열 내장함수* = 문자열 메서드
    └≫ 내장함수 : 특정 데이터 타입이 자체적으로 가지고 있는 속성으로 존재하는 함수
    └≫ 문법 : 변수(데이터타입값).함수명()
* count( ) : 특정 문자의 개수 - 정수로 알려줌(없으면 0)
* find( ) :특정 문자의 인덱스 번호(위치), 0번에서 가장 가까운 1개만 잡음
* join( ) : 특정 기호를 문자열 아이템 사이에 입력
* upper( ) : 문자열을 대문자로 변경
* lower( ) : 문자열을 소문자로 변경
* capitalize( ) : 문자열의 첫 글자를 대문자로
* swapcase( ) : 대문자는 소문자로, 소문자는 대문자로 전환
* lstrip( ) / rstrip( ) / strip( ) : 좌 / 우 / 앞뒤 공백(기본) 및 특정 문자 지우기
* replace( ) : 기존 문자를 새로운 문자로 바꾸기
* split( ) : 특정 기호를 기준으로 문자열을 아이템 단위로 나누어 리스트로 반환
* center( ) : 문자열 길이를 지정하여 대상 문자열을 중앙 정렬
* ljust( ) : 문자열 길이를 지정하여 대상 문자열을 왼쪽 정렬(justify)
* rjust( ) : 문자열 길이를 지정하여 대상 문자열을 오른쪽 정렬

In [182]:
# 문자열 생성
text = 'tomato juice'
text.count('t')#2
text.count('to')#2글자 이상도 가능
text.count('z')#0
text.find('t')#t가 들어간 첫 인덱스 0
text.find('to')#0
text.find('to ')#4
text.find('t',1)#2번째 t 출력(1번 인덱스 이후로(포함해서))

4

In [193]:
text3='                 123            123           '

In [190]:
# upper(), lower(), capitalize(), swapcase()
#변경한 결과를 시뮬레이션해서 보여줌(원본은 바뀌지 않음)
text.upper() #'TOMATO JUICE'
text.lower() #'tomato juice'
text.capitalize() #'Tomato juice'
text.swapcase() #'TOMATO JUICE'

'TOMATO JUICE'

In [195]:
#lstrip()
# 왼쪽 공백 전부 제거, 가운데는 제거 안함
# 임시적 결과만 보여줌(원본 변형 x)
text3.lstrip()

'123            123           '

In [197]:
#rstrip()
# 오른쪽 공백 전부 제거, 가운데는 제거 안함
# 임시적 결과만 보여줌(원본 변형 x)
text3.rstrip()

'                 123            123'

In [199]:
#strip()
# 왼쪽 오른쪽 구분 없이 공백 다 제거
text3.strip()

'123            123'

In [205]:
#replace(old, new)
#찾아 바꾸기, 문자열 내에서 old에 해당하는 문자를 찾아 new로 대체
#공백 역시 찾아 없앨 수 있음
# 열시 원본자료에는 영향을 미치지 않고 일시적으로 변경
text3.replace(' ','')

'123123'

In [210]:
#split('기준')
#쪼개기
#기준 입력시 기준점을 기준으로 쪼개고 입력 안하면 ' ',\n, \t 등을 기준으로 쪼갬
text4 = 'a b c'
text4.split()

['a', 'b', 'c']

In [212]:
#기준 설정 시 공백이 아닌 기준 대상으로 쪼개기
#"," 대상으로 쪼갤 경우 나오는 text5의 결과물은 4개
text5 = 'a,b,c,ddes'
text5.split(',')

['a', 'b', 'c', 'ddes']