# Data Type
## #>숫자형
- #### 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소수점을 포함하는 숫자
    - 8진수(octal)(0o 또는 00로 시작) : 0o34, 0o25
        - 프로그램 용량체계에 쓰임
        - bit*8 = 1 byte
    - 16진수(hexa-decemal)(0x로 시작) : 0x2A, 0xFF
        - 메모리 주소 표시에 사용

In [16]:
# 양수, 음수, 0
a=10
a
b=20
#마지막 할당된 변수값 나옴
c=30
print(type(a),type(b),type(c))

### 정수 타입 : 타입(데이터종류) 확인하는 내장함수 type()

In [21]:
# 양의 실수, 음의 실수 :  float
a=1.3
b=-2.4
c=0.0
print(type(a),type(b),type(c))

<class 'float'> <class 'float'> <class 'float'>

In [23]:
print(type(0), type(0.0))

<class 'int'> <class 'float'>

## > 연산자
- 산술 : +, -, *, /, //(몫), %(나머지), **(제곱)
- 비교 : ==(값이 같은지), !=(다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=, -=, *=, /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술 연산자 : 숫자를 계산하기 위한 문법 기호

In [32]:
# 더하기 : +
10 +3
13.3+2.3
10+3.6

13.6

In [34]:
# 빼기 : -
3-7.7

-4.7

In [38]:
# 나누기 : /
3/7 #정수 / 정수 =실수

0.42857142857142855

In [43]:
# 곱하기 : *
3 * 4
3 * -3 * 5
(5 - 3) * 4

8

In [47]:
# 몫만 반환 : //
# 나눗셈의 결과값보다 작은 정수중에 가장 큰 정수
14//3
# 나머지 반환 : %
14%3

2

In [51]:
-3 // 4 # 나눗셈의 결과값보다 작은 정수중에 가장 큰 정수 : -1
-3 % 4

1

In [54]:
-3%4
-13%4

3

In [59]:
#지수 : **
2 **100
2**0.5

1.4142135623730951

### 2) 비교 연산자 : 숫자를 비교하기 위한 문법 기호
    - 결과가 숫자가 아니라 bool type의 결과를 가진다    
> #### bool type
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등
- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : >, <, <=, >=

In [73]:
'가'<"나"#true
'a'<'b'#true
'a'>'A'#true

True

In [76]:
# 두 값이 같은지 비교 : ==
type(0)==type(0.0)#f
0==0.0#t

True

In [80]:
# 두 값이 다른 지 비교 : !=
type(0) != type(0.0)#t
0!=0.0#f

False

In [83]:
# 두값의 크기를 비교 : >=, <=, <, >
10<3#f
10>3#t
10>=3#t
3<=3#t
10<=3<f

False

#### 3) 논리 연산자
- 여러 개의 조건식을 활용하기 위한 명령어
- bool type결과 반환 : T, F

In [85]:
#숫자 0은 F, 이외의 모든 숫자는 T
#bool()함수는 자료의 참, 거짓을 판단해준다
bool(0)#F
bool(10)#T

True

In [86]:
#0이 F로 사용되는 예시
bool(0 and 10 > 3)#F

False

In [92]:
# or 연산자
# 둘 중 하나만 T여도 최종 결과 T
0 or 10 < 3

False

#### 4) 할당 연산자
- 변수 할당
- 누적 연산

In [300]:
#변수명(왼쪽)에 변수값(오른쪽)을 할당/선언/저장 : =
x=10
x

10

In [301]:
#숫자형의 누적 합계 : +=
x+=10
x

20

In [308]:
# 1~10까지 누적합
result=0
for i in range(1,11):
    result+=i
result

55

In [309]:
#숫자형의 누적 차
result-=1
result

54

In [310]:
#누적 곱
result *=2
result

108

# 문제

홍길동의 시험 성적 평균 구하기<br>
영어 80 국어 72 수학 90 사회 66<br>
총합 308<br>
평균 77<br>

In [317]:
eng,kor,math,soc=80,72,90,66
sum=eng+kor+math+soc
avg=sum/4
print("총합 :",sum)
print("평균 : %d"%avg)

총합 : 308
평균 : 77

# 문제
반지름 7인 원넓이 구하기<br>
소수점 없이 정수로 출력

In [332]:
r=7
pi=3.14
circle=(r**2)*pi
print("반지름 :",r)
print("원의 넓이 :",int(circle))

반지름 : 7
원의 넓이 : 153

# 문제
임의의 변수에 원하는 숫자 집어넣고 숫자의 제곱근과 세제곱 값 출력

In [337]:
num = int(input("숫자 입력"))
print("제곱근 : ",num**0.5)# 1/3, 1/4, 1/5 -> 3,4,5제곱근
print("세제곱 : ",num**3)

숫자 입력8
제곱근 :  2.8284271247461903
세제곱 :  512